@media screen and (min-width:1025px) {
  .mobil-setting {
    display: none;
  }
}

/* スマホ処理 */
@media screen and (max-width:375px) {
  /* チェックボックスは非表示に */
  .chekc-hidden {
      /*チェックボックス削除*/
      display: none;
  }
  .mobil-setting{
    width: 100%;
    height: 22vw;
    background-color: #5c5555;
  }
  .header-search-1{
    font-family: 'Philosopher', serif;
    font-weight: bold;
    font-size: 7.5vw;
    position: absolute;
    margin-left: 40vw;
    margin-top: 5vw;
  }
    /*------------------------------
    ハンバーガー実装
    ------------------------------*/

    /* チェックボックスは非表示に */
    .chekc-hidden {
      /*チェックボックス削除*/
      display: none;
  }

  .hamburger-none {
      display: contents;
  }
  .header-nav-list {
      display: none;
  }
  .home-content {
      display: none;
  }

  .hamburger-open {
      /*ハンバーガーアイコンの設置スペース ハンバーガーアイコンのフレックス指定 fixedで固定*/
      width: 30%;
      height: 7.5vw;
      margin-top: 4vw;
      margin-left: 3.5vw;
      display: flex;
      align-items: center;
      cursor: pointer;
  }

  .hamburger-open span,
  .hamburger-open span:before,
  .hamburger-open span:after {
      /* ハンバーガーメニューのアイコンの設定 */
      content: '';
      /*空白領域作成*/
      display: block;
      /*縦並びにする*/
      height: 1vw;
      /*高さ幅3pxに設定*/
      width: 6vw;
      /*横幅3pxに設定*/
      border-radius: 1vw;
      /*丸みを3pxにする*/
      background: black;
      /*#333に色指定*/
      transition: 0.5s;
      /*0.5s書けて×になる*/
      position: absolute;
      /*絶対配置(くっついてしまう)*/
  }

  .hamburger-open span:before {
      /* 三本線のうち一番上の棒の位置調整 */
      bottom: 2vw;
      /*下の幅を8px*/
  }

  .hamburger-open span:after {
      top: 2vw;
  }

  #hamburger-check:checked ~ .hamburger-open span {
      background: rgba(255, 255, 255, 0);
  }

  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #hamburger-check:checked ~ .hamburger-open span::before {
      bottom: 0;
      transform: rotate(45deg);
  }

  #hamburger-check:checked ~ .hamburger-open span::after {
      top: 0;
      transform: rotate(-45deg);
  }

  .hamburger-item {
      list-style: none;
  }

  .hamburger-close {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      position: fixed;
      top: 0;
      right: 100%;
      z-index: 1;
      transition: .5s;
  }
  #hamburger-check:checked ~ .hamburger-close {
      left: 0;
  }
  .hamburger-content {
      overflow-y: scroll;
      flex: display;
      width: 50%;
      height: 100%;
      position: fixed;
      top: 0;
      right: 100%;
      background-color: #5c5555;
      transition: .5s;
      flex-wrap: wrap;
      z-index: 30;
  }
  #hamburger-check:checked ~ .hamburger-content {
      right:50%;
  }

  .hamburger-content li.hamburger-item , li.hamburger-item-1 {
      border-bottom: 2px solid #fafafa;
      padding-top: 4vw;
      padding-bottom: 4vw;
      background-color: #5c5555;
      color: #000000;
      margin:0 auto;
  }
  .hamburger-item a{
      margin-left: 2vw;
      font-size: 20px;
      text-decoration: none;
      color: #fafafa;
  }
  .hamburger-item-1 a{
      margin-left: 12vw;
      font-size: 17px;
      text-decoration: none;
      text-align: right;
      color: rgba(255, 255, 255, 0.8);    
  }
  .hamburger-item-footer{
      margin-top: 40vw;
  }
  .hamburger-item-2 a{
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);   
      background-color: #5c5555;
      margin:0 auto;
      margin-left: 12vw;
      font-size: 17px; 
  }
  li.hamburger-item-2{  
      border-top:2px solid #fafafa ;
      padding-top: 20%;
      padding-bottom: 25%;
      text-decoration: none;
      list-style: none;  
  }

  /* --------完了--------- */
  .header-right {
      position: absolute;
      width: 25%;
      background-color: gray;
      z-index: 30;
  }
  .flex-search {
    display: flex;
  }
  .header-center{
    margin-left: 2vw;
  }
  .header-fadeImg {
    display: none;
  }
  #fadeInOutImg {
    width: 8vw;
    position: fixed;
    margin-top: 3vw;
    margin-left: 86vw;
    z-index: 15;
  }
  #fadeInOutImg1 {
    width: 8vw;
    position: fixed;
    margin-top: 3vw;
    margin-left: 86vw;
    z-index: 15;
  }
  .header-fadeImg{
    width: 100%;
    height: 22vw;
    padding: 5vw;
    background-color: rgba(31, 25, 155, .5);
    z-index: 10;
  }
  .hamburger {
    position: absolute;
    margin-left: 5vw;
    margin-top: 4vw;
    z-index: 1;
  }

  input[type="text"] {
    background-color: rgba(255, 255, 255, .9);
    border: 1px #fafafa solid;
    border-radius: 20px;
    width: 50vw;
    height: 10vw;

  }
  .header-fadeImg-1 {
    margin-left: 15vw;
  }
  button{
    width: 14vw;
    height: 10vw;
    font-weight: bold;
    border-radius: 20px;
    background: #fafafa;
  }
}
